section.footer-top
	.content
		.box-middle
			.box-6.firm-logo
				.firm
					figure.firm-img
						img(src="images/global/firma.png" class="img-responsive")
					.firm-text
						h5 TODOS LOS DERECHOS RESERVADOS
						h4 © 2016 EXPLORA EL PERÚ
			.box-6
				.box-6
					.footer-contact
						ul.footer-contact-ul
							li
								h5
									span(class="footer-mail")
										a(href="mailto:info@exploraelperu.com") info@exploraelperu.com
							li
								h5
									span(class="footer-WhatsApp") +51 983 808669
							li
								h5
									span(class="footer-skype") ViajesTierraViva
				.box-6
					.footer-contact
						ul.footer-contact-ul
							li
								h5
									span(class="footer-phone") +51 084 228683 / +51 956774430
							li
								h5
									span(class="footer-market") Portal Confituria Nro 257 - Plaza de Armas Cusco - Perú
section.footer-bottom
	.content
		.box-full
			.social
				ul.social-ul
					li
						a.social-a.facebook(href="http://www.facebook.com" target="_blank")
							span.ico.ico-facebook
					li
						a.social-a.twitter(href="http://www.twitter.com" target="_blank")
							span.ico.ico-twitter
					li
						a.social-a.youtube(href="http://www.youtube.com" target="_blank")
							span.ico.ico-youtube
					li
						a.social-a.instagram(href="http://www.instagram.com" target="_blank")
							span.ico.ico-instagram
					li
						a.social-a.tripadvisor(href="http://www.tripadvisor.com" target="_blank")
							span.ico.ico-tripadvisor


script(src="js/bundle.js")
script(src="js/vendor/owl.carousel.min.js")
script(src="js/vendor/jquery.flexslider.js")
script(src="js/vendor/jquery.themepunch.plugins.min.js")
script(src="js/vendor/jquery.themepunch.revolution.min.js")