section.footer-top
	.content
		.box-middle
			.box-5
				.firm
					figure.firm-img
						img(src="images/global/firma.png" class="img-responsive")
					.firm-text
						h5 TODOS LOS DERECHOS RESERVADOS
						h4 © 2016 EXPLORA EL PERÚ
			.box-7
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi inventore eaque quo laboriosam perspiciatis magni eum a quam sint aut alias ullam, aperiam saepe natus deleniti delectus voluptates, quia libero!
section.footer-bottom
	.content
		.box-full
			.social
				ul.social-ul
					li
						a.social-a.facebook(href="#")
							span.ico.ico-facebook
					li
						a.social-a.twitter(href="#")
							span.ico.ico-twitter
					li
						a.social-a.youtube(href="#")
							span.ico.ico-youtube
					li
						a.social-a.instagram(href="#")
							span.ico.ico-instagram
					li
						a.social-a.tripadvisor(href="#")
							span.ico.ico-tripadvisor


script(src="js/bundle.js")
script(src="js/vendor/owl.carousel.min.js")