doctype html
html(lang="es")
	head
		meta(charset="UTF-8" content="text/html;" http-equiv="content-type")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="description" content="Descripción de la página. Longitud máxima 155")

		//- meta Twitter
		meta(name="twitter:card" content="summary")
		meta(name="twitter:site" content="@anunciante")
		meta(name="twitter:title" content="Descripción de la página. Longitud máxima 200 caracteres")
		meta(name="twitter:description" content="View the album on Flickr.")
		meta(name="twitter:creator" content="@autor")
		meta(name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg")

		//- meta Facebook
		meta(property="og:title" content="title")
		meta(property="og:type" content="article")
		meta(property="og:url" content="http://oropensando.com/")
		meta(property="og:image" content="http://oropensando.com/imagen.jpg")
		meta(property="og:description" content="Otra web de desarrollo web")
		meta(property="og:site_name" content="Oropensando")
		meta(property="og:locale" content="es_ES")
		meta(property="fb:admins" content="Facebook ID")

		title Explora el Peru
		link(rel="stylesheet", href="css/main.css")