nav.nav
	.content
		//- menu a desplegar mobile
		.nav-header
			.nav-brand#nav-brand
				.nav-center
					.nav-img
						a(href="#")
							img(src='images/logo.svg')
			.nav-button
				.nav-center
					.nav-btn
						a(href="#" class="btn-square")
							span(class="ico ico-isotipo")
			.nav-button
				.nav-center
					.nav-btn
						a(href="#" class="btn-circle")
							span(class="ico")
								h4 Esp.
		//- menú listado
		div.nav-bar#nav-bar
			ul.nav-ul
				li
					a(class="homer" href="#")
						span.fa.fa-home Destinos
				li
					a(href="#")
						span.fa.fa-user Medios de pago
				li
					a(href="#")
						span.fa.fa-user Conócenos
				li
					a(href="#")
						span.fa.fa-user Blog
				li
					a(href="#")
						span.fa.fa-user Contáctanos
				.nav-link
					ul
						li
							a(href="#")
								span.fa.fa-user Reserva ahora