nav.nav
	.content
		//- menu a desplegar mobile
		.nav-header
			.nav-brand#nav-brand
				.nav-center
					.nav-img
						a(href="/")
							img(src='images/logo.svg')
			.nav-button
				.nav-center
					.nav-btn
						a(class="btn-square show" id="openNab")
							span(class="ico ico-isotipo")
			.nav-button
				.nav-center
					.nav-btn
						a.lenguage-select(class="btn-circle")
							span(class="ico")
								h4 Esp.
		//- menú listado
		div.nav-bar#nav-bar
			ul.nav-ul
				li
					a(class="homer" href="/destinos.html")
						span.fa.fa-home Destinos
				li
					a(href="/formasdepagos.html")
						span.fa.fa-user Medios de pago
				li
					a(href="#")
						span.fa.fa-user Conócenos
				li
					a(href="/blog.html")
						span.fa.fa-user Blog
				.nav-link
					ul
						li
							a(href="/contacto.html")
								span.fa.fa-user Contáctanos
						li
							a.lenguage-select
								span.fa.fa-user Esp.
		//- menú idioma
		div.lenguage-nav
			ul.lenguage-ul
				li
					a(href="#")
						span.fa.fa-user Español
				li
					a(href="#")
						span.fa.fa-user English
				li
					a(href="#")
						span.fa.fa-user Português