.banner
	height 500px
	background-size cover
	background-position center
	background-repeat no-repeat
	position relative
	&:before
		content ''
		background-image url(../images/banner/bg-before.png)
		height 52px
		width 100%
		position absolute
		bottom 0
		left 0
		