.footer
	&-top
		background-color $red-dark
		color $white
		padding 2em 0
	&-bottom
		padding 2em 0
		background-color $white
		

/*
 * firm
 */
.firm
	&-img,
	&-text
		display inline-block
		margin-right 4px
		vertical-align middle
	&-text
		h4,
		h5
			margin 0
			font-family Roboto
			font-weight 300
		h4
			font-weight 700