.footer
	&-top
		background-color $red-dark
		color $white
		padding 2em 0
		border-top 10px solid $white
	&-bottom
		padding 2em 0
		background-color $white
	&-contact
		&-ul
			padding 0
			margin 0
			padding-left 15px
			li
				list-style none
				margin-bottom 5px
				&:last-child
					margin-bottom 0
				a
					transition all .3s ease
					&:hover,
					&:active,
					&:focus
						text-decoration underline
				span
					padding-left 25px
					display block
					position relative
					font-family Roboto
					font-weight 400
					&:before
						font-family frontrules
						font-size 1.3em
						position absolute
						left 0
						top 1px
					&.footer
						&-mail
							&:before
								content '\e902'
								font-size 1em
								top 3px
						&-WhatsApp
							&:before
								content '\e90f'
						&-skype
							&:before
								content '\e905'
						&-phone
							&:before
								content '\e904'
						&-market
							&:before
								content '\e903'
	@media screen and (max-width 950px)
		&-top
			text-align center
			.box-middle
				display block
				text-align left
				> .box
					&-6
						display inline-block
						width 100%
		&-contact
			display inline-block
			text-align left
			width 100%
	@media screen and (max-width 800px)
		&-contact
			&-ul
				padding 0 15px
		&-bottom
			padding 1em 0

/*
 * firm
 */
.firm
	position relative
	&:after
		content ''
		background-color rgba($white, .2)
		width 1px
		height 100%
		position absolute
		right 70px
		top 0
	&-img,
	&-text
		display inline-block
		margin-right 4px
		vertical-align middle
	&-text
		h4,
		h5
			margin 0
			font-family Roboto
			font-weight 300
		h4
			font-weight 700
	@media screen and (max-width 950px)
		padding-bottom 1.5em
		margin-bottom 2em
		display inline-block
		width 100%
		&:after
			height 1px
			width 100%
			top initial
			right initial
			left 0
			bottom 0
		&-logo
			text-align center
		