body
	font-family Roboto
	color $gray
	font-weight 300
a
	color $white
	text-decoration none
p
	font-weight 300
	margin 0
	
.section
	&-row
		padding 50px 0
	@media screen and (max-width 800px)
		&-row
			padding 50px 15px
	&-title
		font-family bebasM
		margin 0
		font-size 2.5em
		span
			font-family bebasB
			

/*
 * id section
 */
#destinyall
	background-color $gray-light
#peruvian
	.box-4
		vertical-align middle
		&:first-child
			text-align left

/*
 * social
 */
.social
	&-ul
		padding 0
		margin 0
		display inline-block
		&:hover
			li
				opacity 0.5
		li
			list-style none
			display inline-block
			margin-right 2px
			opacity 1
			transition all .3s ease
			vertical-align middle
			&:hover
				opacity 1
	&-a
		width 40px
		height 40px
		display table
		border-radius 50%
		text-align center
		&.facebook
			background-color $facebook
		&.twitter
			background-color $twitter
		&.youtube
			background-color $youtube
		&.instagram
			background-color $instagram
		&.tripadvisor
			background-color $tripadvisor
		.ico
			font-size 1em
			color $white
			display table-cell
			vertical-align middle

/*
 * btn
 */
.btn
	display inline-block
	text-align center
	border 0
	outline none
	cursor pointer
	&-red
		background-color $red
		color $white
		padding 15px 30px
		border-radius 30px
		transition all .3s ease
		&:hover,
		&:active,
		&:focus
			background-color $black
	&-gray
		background-color $gray
		color $white
		padding 5px 15px
		border-radius 20px
		transition all .3s ease
		&:hover,
		&:active,
		&:focus
			background-color $black

.rowbgimage_overlay
	position absolute
	top 0
	left 0
	z-index 0
	width 100%
	height 100%
			
@media screen and (max-width 800px)
	.peru-logo
		display none
	#peruvian
		h3
			text-align center
		p
			text-align center
	.footer-skype
		margin-bottom 5px
		

/*
 * Peru content video
 */
.peru
	&-content
		p
			text-align left
		h3
			text-align left
	@media screen and (max-width 800px)
		&-logo
			margin-top 25px

.tparrows
	background-color rgba($red,.7)
	transition all .3s ease
.img-btn
	width 100%
	display inline-block
	position relative
	border-radius 8px
	overflow hidden
	.img-play
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba($black,.4)
		transition all .3s ease
		.img-ico
			display table
			width 100%
			height 100%
			span
				display table-cell
				vertical-align middle
				font-size 2em
				color rgba($white, .6)
				transition all .3s ease
	&:hover,
	&:active,
	&:focus
		.img-play
			background-color rgba($red,.6)
			.img-ico
				span
					color rgba($white, 1)
					
/*
 * maps
 */
.contact
	&-map
		height 400px
	&-text
		margin-bottom 35px
		h2
			text-transform uppercase
			font-size 1.3em
			span
				font-weight 400
		p
			text-align justify
	@media screen and (max-width 800px)
		&-text
			padding 0
			text-align center
			p
				text-align center
	

/*
 * Iframe video
 */
.iframe-responsive
	position relative
	.iframe-img
		display block
		width 100%
		height auto
	iframe
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		
/*
 * Form
 */
label
	color $gray
	.req
		color $red
	&.active
		color $red
		
.form
	&-content
		margin 0 15px
		background-color rgba($gray,.2)
		> article
			padding-bottom 15px
			border-bottom 1px solid