.toursin-gallery
	&:hover
		.flex
			&-direction-nav
				.flex
					&-prev
						opacity 1
					&-next
						opacity 1
.flex
	&-direction-nav
		a
			&:before
				color rgba($white,.9)
		.flex
			&-prev
				left 15px
			&-next
				right 15px
	&-control-nav
		bottom 5px