.tours
	&-owl
		width 100%
		display block
		margin-top 35px
	&-a
		width 100%
		display inline-block
		background-color $white
		height 350px
		border-radius 10px
		background-size cover
		background-position center
		background-repeat no-repeat
		transition all .3s ease
		position relative
		&:before
			content ''
			position absolute
			width 100%
			height 100%
			border-radius 10px
			background-color rgba($black,.24)
			left 0
			top 0
			transition all .3s ease
		&:hover
			&:before
				background-color rgba($black,.5)
	&-details
		position relative
		z-index 1
		display table
		height 100%
		width 100%
		&-center
			display table-cell
			vertical-align middle
			text-align center
			width 100%
		&-title
			width 80%
			display inline-block
			h4
				font-family RobotoC
				text-transform uppercase
				font-size 2em
				line-height 1em
				margin-bottom 5px
				text-shadow 0 0 10px rgba($black,.5)
			h5
				font-family RobotoC
				font-size 1.1em
				text-shadow 0 0 10px rgba($black,.5)
	&-price
		position absolute
		bottom 25px
		left 0
		background-color $red
		color $white
		padding 5px 30px 5px 15px
		border-radius 0 45px 45px 0
		h3
			font-size 2em
			margin 0
	&-link
		display inline-block
		margin-top 25px
		font-family Roboto
		font-weight 300

// tour ofert interna

.toursofert
	&-owl
		width 100%
		display block
	&-a
		width 100%
		display inline-block
		background-color $white
		height 300px
		border-radius 10px
		background-size cover
		background-position center
		background-repeat no-repeat
		transition all .3s ease
		position relative
		&:before
			content ''
			position absolute
			width 100%
			height 100%
			border-radius 10px
			background-color rgba($black,.24)
			left 0
			top 0
			transition all .3s ease
		&:hover
			&:before
				background-color rgba($black,.5)
	&-details
		position relative
		z-index 1
		display table
		height 100%
		width 100%
		&-center
			display table-cell
			vertical-align middle
			text-align center
			width 100%
		&-title
			width 80%
			display inline-block
			h4
				font-family RobotoC
				text-transform uppercase
				font-size 1.5em
				line-height 1em
				margin-bottom 5px
				text-shadow 0 0 10px rgba($black,.5)
			h5
				font-family RobotoC
				font-size 1.1em
				text-shadow 0 0 10px rgba($black,.5)
	&-price
		position absolute
		bottom 25px
		left 0
		background-color $red
		color $white
		padding 5px 30px 5px 15px
		border-radius 0 45px 45px 0
		h3
			font-size 1.5em
			margin 0
		
// tour interna
.toursin
	.box
		&-8,
		&-4
			vertical-align top
	&-gallery
		position relative
		li
			img
				width 100%
	&-description
		margin-left 35px
	&-title
		h1
			line-height 1em
			text-transform uppercase
		h2
			font-size 1.2em
			font-weight 400
	&-price
		padding 20px 0
		margin 20px 0
		border-top 1px solid $gray-light
		border-bottom 1px solid $gray-light
		border-color rgba($gray,.3)
		display table
		width 100%
		.box-6
			vertical-align top
		h3
			line-height .9em
			font-size 2em
		h5
			font-weight 300
	&-btn
		display block
		text-transform uppercase
	&-include
		padding-bottom 20px
		border-bottom 1px solid $gray-light
		border-color rgba($gray,.3)
		ul
			padding-left 1.2em
			margin 0
			li
				margin-bottom 5px
				&:last-child
					margin-bottom 0
				h5
					font-weight 300
					font-size 1em
		h4
			margin-bottom 10px
			text-transform uppercase
			font-size .9em
	&-social
		margin 20px 0
		li
			h5
				margin-right 10px
				text-transform uppercase
	&-details
		margin-top 20px
		h4
			font-size .9em
			margin-bottom 10px
			text-transform uppercase
		h5
			padding-bottom 20px
			margin-bottom 20px
			border-bottom 1px solid $gray-light
			border-color rgba($gray,.3)
			text-transform uppercase
			font-size 1em
			font-weight 300
		p
			text-align justify
	@media screen and (max-width 800px)
		&-description
			margin-left 0
			margin-top 25px
		&-social
			margin 20px 0 0			
	
				
/*
 * destiny
 */
.destiny
	&-article
		width 25%
		display inline-block
		margin-right -4px
		vertical-align top
	&-details
		border 1px solid $gray-light
		margin 10px
		border-radius 8px
		overflow hidden
		border-color rgba($gray,.3)
		&:hover
			.destiny
				&-figure
					&:before
						background-color rgba($black,.5)
	&-figure
		background-repeat no-repeat
		background-position center
		background-size cover
		height 120px
		width 100%
		position relative
		&:before
			content ''
			position absolute
			width 100%
			height 100%
			border-radius 10px
			background-color rgba($black,.24)
			left 0
			top 0
			transition all .3s ease
	&-price
		position absolute
		bottom 15px
		left 0
		padding 5px 15px
		background-color $red
		border-radius 0 15px 15px 0
		h3
			color $white
	&-content
		text-align left
		padding 15px
		position relative
		min-height 190px
	&-title
		h4
			text-transform uppercase
			line-height 1em
		h5
			span
				font-weight 400
				color $red
				&:first-child
					text-transform uppercase
					font-weight 400
	&-text
		p
			font-size .9em
			margin 5px 0
	&-button
		text-align right
		position absolute
		bottom 15px
		right 15px
		.destiny-btn
			padding 10px 15px
			line-height 1em
			text-transform uppercase
			font-size .8em
	@media screen and (max-width 1200px)
		&-article
			width 33.33%
	@media screen and (max-width 800px)
		&-article
			width 50%
	@media screen and (max-width 470px)
		&-article
			width 100%
			margin-bottom 15px
			&:last-child
				margin-bottom 0
		&-details
			margin 0
		&-content
			min-height initial
		&-button
			position relative
			bottom 0
			right 0




