.content
	.box-top
		.box-8
			.about
				.about-title
					h3
						| Acerca de Nosotros Explora El Peru
				.about-text
					p 
						|La Agencia de turismo VIAJES TIERRA VIVA E.I.R.L TOUR OPERATOR tiene el agrado de presentarse a fin de poner en conocimiento y proponer distintas opciones de programas de viajes.
					p 
						| Nuestra agencia viene laborando en el mercado turístico en las distintas modalidades con amplia experiencia en el manejo de tours de aventura y tradicionales, poniendo a su disposición una gama de ofertas de las que somos creadores. Como la ruta MACHU PICCHU BY CAR e INKA JUNGLE TREK por Huyro visitando Inca Cárcel y Camino Inca Alterno, los mismos que vienen teniendo una acogida enorme en el mercado por lo novedoso y atractivo de la ruta.
					p
						| Contamos con movilidades nuevas, chóferes profesionales, equipos de biking nuevos y lodge propio (Natura Inkatambo Lodge). Calidad de servicio y años de experiencia nos respaldan poniendo lo mejor de nuestro servicio a su disposición, nuestra mejor carta de presentación.
					p
						| Agradeciendo su atención y seguros de contar con su elección, estaremos gustosos de resolver cualquier inquietud que pudieran tener.
				.about-firm
					p Atentamente,
					p AMED CHAVEZ
					p Manager

		.box-4
			.widget
				include newslatter