.content
	.toursin
		.box-8
			.toursin-gallery
				ul.slides
					li
						img(src="images/slider/slide-1.jpg")
					li
						img(src="images/slider/slide-2.jpg")
					li
						img(src="images/slider/slide-3.jpg")
					li
						img(src="images/slider/slide-4.jpg")
			.toursin-details
				h5 Salida: 06:00 am. todos los días
				h4 Descripción
				p Los recogeremos del hotel para dirigirnos al pueblo de Ollantaytambo y tomar el tren al pueblo de Machu Picchu. Al arribar al pueblo de Machu Picchu caminaremos 200 metros hasta la estación de buses para abordarlos. Estos lo llevarán hasta la parte alta de la montaña en un viaje que durará aproximadamente 20 minutos. Al llegar tendremos la visita guiada al Santuario Histórico de Machu Picchu por aproximadamente 2 horas donde tendrá tiempo libre para explorar Machu Picchu por su cuenta e visitar a Huayna Picchu previa coordinación con el guía. Retornaremos al pueblo de Machu Picchu donde abordaremos el tren de retorno a Ollantaytambo y luego el bus hasta el Cusco.
		.box-4
			.widget
				include newslatter