.content
	.box-top
		.box-7
			.contact-text
				h2
					| ¿Tienes alguna duda? 
					span Por favor llena el formulario
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius, nostrum, repellat cumque laudantium voluptatem excepturi? Porro, ipsum necessitatibus, vero sapiente obcaecati nam. Iure veritatis doloremque reprehenderit dicta, excepturi dolorem.
			.form
				.tab-content
					#signup  
						form(action="/" method="post")
							.top-row
								.field-wrap
									label
										| Nombre
										span.req *
									input(type="text" required autocomplete="off")
						
								.field-wrap
									label
										Last
											| Apellido
											span.req *
									input(type="text" required autocomplete="off")

							.field-wrap
								label
									| Email
									span.req *
								input(type="text" required autocomplete="off")

							.field-wrap
								label
									| Asunto
									span.req *
								input(type="text" required autocomplete="off")
							.field-wrap
								label.textarea
									| Mensaje
									span.req *
								textarea(type="textarea" required autocomplete="off")
							button(type="submit" class="btn btn-red") Enviar Consulta

		.box-5
			.widget
				include contactus