.content
	.box-top
		.box-7
			.contact-text
				h2
					| ¿Tienes alguna duda? 
					span Por favor llena el formulario
			.form
				.tab-content
					#signup  
						form(action="/" method="post")
							.form-box
								label(for="name")
									| Nombre
									span.req *
								input(type="text" id="name" class="form-input" name="name")
							.form-box
								label(for="lastname")
									Last
										| Apellido
										span.req *
								input(type="text" id="lastname" class="form-input" name="lastname")
							.form-box
								label(for="email")
									| Email
									span.req *
								input(type="text" id="email" class="form-input" name="email")

							.form-box
								label(for="subject")
									| Asunto
									span.req *
								input(type="text" id="subject" class="form-input" name="subject")
							.form-box
								label.textarea(for="message")
									| Mensaje
									span.req *
								textarea(type="textarea" id="message" class="form-input" name="message")
							button(type="submit" class="btn btn-red") Enviar Consulta

		.box-5
			.widget
				include contactus