.content
	.box-full
		.destiny
			- for (var i = 1 ; i <= 11 ; i++)
				article.destiny-article
					.destiny-details
						.destiny-figure(style="background-image: url('images/destinos/destino3.png')")
							.destiny-price
								h3 S/. 300
						.destiny-content
							.destiny-title
								h4 Machu Picchu Tradicional #{i}
								h5
									span Cusco
									span  - 04 Días / 03 Noches
							.destiny-text
								p Machu picchu el destino obligatorio que conocera en su Tour a Peru, esta Fortaleza Inca tiene mas de 100 años de creacion...
							.destiny-button
								a.destiny-btn.btn.btn-gray(href="/destinosin.html") Ver mas