.content
	.box-top
		.box-8
			.featurespay-content
				article.featurespay-article.box-top
					.box-3
						.featurespay-img
							figure.featurespay-figure.featurespay-figure-wu(style="background-image: url(images/global/pay-1.png)")
					.box-9
						.featurespay-text
							h3 Wester Unión
							p 
								| Con el servicio de Western Union, usted podrá enviar y recibir dinero rápidamente en sus 117.000 agentes distribuidos al rededor del mundo. Revisar el agente más cercano a su domicilio en su página web: 
								a(href="http://www.westernunion.com" target="_blank") www.westernunion.com
								| , seleccionar en giros nacionales o internacionales y seguir los siguientes pasos para el envío:
							ul
								li Completar el formulario de envío de dinero.
								li Indicar que el envío debe ser en dólares americanos.
								li Escribir la cantidad que enviará en letras y números.
								li Completar los datos del beneficiario: 
									span Nombres y Apellidos del receptor, DNI, Dirección, Ciudad y colocarlos en el apartado del remitente.
								li Pagar en efectivo el monto que desea enviar y la comisión de envío respectiva. Recordar que su documento de identificación será requerido.
								li Una vez efectuado el depósito se le entregará un voucher, el cual incluye su MTCN: Número de Control de Transferencia de Dinero (Money Transfer Control Number).
								li Contáctese e infórmenos por e-mail sobre el importe enviado y del número de MTCN, cobraremos el dinero a la brevedad posible y procederemos con el pago de su reserva. Finalmente confirmaremos su reserva con un voucher de servicios contratados.

				article.featurespay-article.box-top
					.box-3
						.featurespay-img
							figure.featurespay-figure.featurespay-figure-pp(style="background-image: url(images/global/pay-2.png)")
					.box-9
						.featurespay-text
							h3 Paypal
							p Si usted desea pagar por esta opción, debe ponerse en contacto con nosotros, el asistente de viaje lo ayudará.
							p
								span NOTA:
								|  Tenga en cuenta que los cargos extra por motivo de transacción o comisiones bancarias no están incluidos en los precios y deben ser pagados directamente por el cliente. Por esa razón, le recomendamos que antes de realizar la transferencia o envío de dinero, consulte cual es la comisión que se le está cobrando. Aquí podrá encontrar mayor detalle de cómo realizar el 
								span Pago por Paypal.
				article.featurespay-article.box-top
					.box-3
						.featurespay-img
							figure.featurespay-figure.featurespay-figure-bc(style="background-image: url(images/global/pay-3.png)")
					.box-9
						.featurespay-text
							h3 Cuenta Bancaria
							p 
								| Este sistema de pago se realiza en cualquier banco desde Perú o el extranjero. El depósito se realizará con los siguientes datos:
							ul
								li
									span Código swift :
									|  BCPLPEPL
								li
									span Nombre del receptor :
									|  -
								li
									span Nombre del Banco :
									|  BANCO DE CREDITO DEL PERU
								li
									span Dirección del banco :
									|  Av. El Sol 189
								li
									span Número de cuenta corriento :
									|  XXX-XXXXXXX-1-24
								li
									span Moneda de cuenta :
									|  USD DÓLAR
							p 
								| El depósito debe estar bajo el nombre de VIAJES TIERRA VIVA (Para mayor facilidad imprima esta hoja). Luego del depósito verifique que los datos del voucher sean los correctos y envíenoslo por e-mail. Nosotros le enviaremos un e-mail confirmando la transacción y reconfirmaremos su reserva.
							h5 Tarifas de envíos adicionales, no incluidos en el Precio
							p
								| Una vez hecha la transacción envíenos una copia del voucher y le enviaremos un voucher o recibo electrónico por los servicios solicitados dentro de las próximas 24 horas.
		.box-4
			.widget
				include newslatter