.content
	.box-top
		.box-8
			.featurespay-content
				article.featurespay-article.box-top
					.box-3
						.featurespay-img
							figure.featurespay-figure.featurespay-figure-wu(style="background-image: url(images/global/pay-1.png)")
					.box-9
						.featurespay-text
							h3 1.- PAGO POR WESTERN UNION
							p 
								| Para hacer la transferencia a través de Western Unión, existe una tasa adicional del 4,5% en el depósito para cubrir los costos de la transferencia, que se cobrará al realizar el depósito.
							ul
								li Nombres: AMED YUBE
								li Apellidos: CHAVEZ MONGE
								li DNI: 46761266
								li Dirección: Portal Confituria 257. Plaza de Armas
								li Ciudad: CUSCO
								li País: Perú
							h3 ENVIAR ESTOS REQUERIMIENTOS:
							ul
								li Fecha de inicio del tour
								li Nombres Completos
								li Nacionalidad
								li Número de Pasaporte o Documento de Identidad
								li Fecha de Nacimiento
								li Nombre de su hotel en Cusco
								li Pago del 50 % del costo total de los servicios turísticos
							p
								| Una vez hecho el depósito le entregarán el recibo que incluye su #[span MTCN: NÚMERO DE CONTROL DE DINERO (Money Transfer control Number).] Infórmenos por e-mail el importe enviado y el número de MTCN. Nosotros cobraremos el dinero a la brevedad posible y procederemos a realizar los pagos y confirmaremos el tour. El pago del 50% restante, lo pagará llegando a Cusco.
								br
								br
							p
								| #[span NOTA: El restante será pagado solamente en efectivo si desean pagar con tarjeta será cobrado + 10% al total del servicio.]

				article.featurespay-article.box-top
					.box-3
						.featurespay-img
							figure.featurespay-figure.featurespay-figure-pp(style="background-image: url(images/global/pay-2.png)")
					.box-9
						.featurespay-text
							h3 2.- PAGO POR PAYPAL CON TARJETA DE CRÉDITO O DÉBITO
							p
								| Puedes realizar tu pago rápido y reservar tu viaje mediante PayPal la forma más rápida y segura para pagar. Entre en contacto con nosotros y le asistiremos tan pronto sea posible. Necesitamos que se realice el 50% del pago por los servicios que se ofrecerán.
								br
								br
							p
								| #[span NOTA: PayPal tiene una tasa adicional de 8.6%] sobre el costo total que será enviado para cubrir los costos del envió.
								br
								br
							p
								| #[span NOTA: El restante será pagado solamente en efectivo. Si desean pagar con tarjeta será cobrado + 10% al total del servicio.]
		.box-4
			.widget
				include newslatter