header.headerin
	.bannerin(style="background-image: url(images/banner/bg_3.jpg)")
		include ./../base/nav
		.bannerin-table
			.bannerin-table-center
				.content
					.bannerin-title
						h5 Machu Picchu en tren (1 día)
						h6 04 días / 03 noches