.content
	.box-full
		.box-8
			.peru-content
				.box-middle
					.box-6
						.box
							h3.section-title
								| ¿Porque venir 
								span a Perú?
							p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
					.box-6.peru-logo
						.box
							a(class="img-btn" href="http://www.youtube.com/watch?v=jXdPbmXBbng" data-lity)
								figure.img-center
									img.img-responsive(src="https://img.youtube.com/vi/jXdPbmXBbng/maxresdefault.jpg")
								.img-play
									.img-ico
										span(class="ico ico-youtube")