.content
	.box-full.box-middle
		.box-4
			.box
				h3.section-title
					| ¿Porque venir 
					span a Perú?
				p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
		.box-4
			.box
				figure.img-center
					img.img-responsive(src="images/global/logo-gray.png")