.content
	.box-full
		.toursofert-owl#toursofert-owl
			- for (var i = 1 ; i <= 5 ; i++)
				a.toursofert-a(href="/destinosin.html" style="background-image: url(images/banner/bg-1.png)")
					.toursofert-details
						.toursofert-details-center
							.toursofert-details-title
								h4 Machu Picchu Tradicional #{i}
								h5 04 Días / 03 Noches
						.toursofert-price
							h3 S/. 300