.content
	.toursin
		.box-8
			.toursin-gallery
				ul.slides
					li
						img(src="images/slider/slide-1.jpg")
					li
						img(src="images/slider/slide-2.jpg")
					li
						img(src="images/slider/slide-3.jpg")
					li
						img(src="images/slider/slide-4.jpg")
			.toursin-details
				h5 Salida: 06:00 am. todos los días
				h4 Descripción
				p Los recogeremos del hotel para dirigirnos al pueblo de Ollantaytambo y tomar el tren al pueblo de Machu Picchu. Al arribar al pueblo de Machu Picchu caminaremos 200 metros hasta la estación de buses para abordarlos. Estos lo llevarán hasta la parte alta de la montaña en un viaje que durará aproximadamente 20 minutos. Al llegar tendremos la visita guiada al Santuario Histórico de Machu Picchu por aproximadamente 2 horas donde tendrá tiempo libre para explorar Machu Picchu por su cuenta e visitar a Huayna Picchu previa coordinación con el guía. Retornaremos al pueblo de Machu Picchu donde abordaremos el tren de retorno a Ollantaytambo y luego el bus hasta el Cusco.
		.box-4
			.toursin-description
				.toursin-title
					h1 Machu Picchu en tren
					h2 01 día
				.toursin-price
					.box-6
						h5 Precio por persona
						h3 S/. 400
					.box-6
						.toursin-btn
							a.toursin-btn.btn.btn-red(href="#") Comprar
				.toursin-include
					h4 Incluye
					ul
						li
							h5 Ticket de tren a Machu Picchu ida y vuelta
						li
							h5 Ticket de bus, subida y bajada (Pueblo de Machu Picchu)
						li
							h5 Ticket de ingreso Machu Picchu (I.N.C.)
						li
							h5 Servicio de guía
						li
							h5 Atención personalizada
				.toursin-social
					.social
						ul.social-ul
							li
								h5 Compartir en:
							li
								a.social-a.facebook(href="http://www.facebook.com" target="_blank")
									span.ico.ico-facebook
							li
								a.social-a.twitter(href="http://www.twitter.com" target="_blank")
									span.ico.ico-twitter