.form
	&-contact
		.box
			&-6
				&:nth-of-type(2n)
					.form
						&-group
							padding-right 0
				&:nth-of-type(2n+1)
					.form
						&-group
							padding-left 0
			&-12
				.form
					&-group
						padding 0
	&-group
		padding 0 10px
		label
			display block
		input,
		textarea
			width 100%
	&-control
		min-height 2em
		padding 0
		border 0
		box-shadow inset 0 0 1px #000000