.content
	width 1170px
	margin 0 auto
	padding 0 15px
	.box-full
		text-align center
		width 100%
	@media screen and (max-width 1200px)
		width 905px
	@media screen and (max-width 950px)
		width 755px
	@media screen and (max-width 800px)
		width 100%
		padding 0

.box-middle
	display table
	width 100%
.box-middle >
	.box
		&-9,
		&-8,
		&-7,
		&-6,
		&-5,
		&-4,
		&-3
			display table-cell
			vertical-align middle
	@media screen and (max-width 800px)
		.box
			&-9,
			&-8,
			&-7,
			&-6,
			&-5,
			&-4,
			&-3
				display table
				width 100%
.box-top
	display table
	width 100%
.box-top >
	.box
		&-9,
		&-8,
		&-7,
		&-6,
		&-5,
		&-4,
		&-3
			display table-cell
			vertical-align top
	@media screen and (max-width 800px)
		.box
			&-9,
			&-8,
			&-7,
			&-6,
			&-5,
			&-4,
			&-3
				display table
				width 100%
.box
	&-12,
	&-9,
	&-8,
	&-7,
	&-6,
	&-5,
	&-4,
	&-3,
	&-2,
	&-1
		display inline-block
		margin-right -4px
		.box
			padding 0 15px
	&-12
		width 100%
	&-9
		width 74.97%
	&-8
		width 66.66%
	&-7
		width 58.24%
	&-6
		width 50%
	&-5
		width 41.6%
	&-4
		width 33.33%
	&-3
		width 25%
	&-2
		width 16.69%
	&-1
		width 8.32%
	@media screen and (max-width 800px)
		&-9,
		&-8,
		&-7,
		&-6,
		&-5,
		&-4,
		&-3
			width 100%