@font-face
	font-family 'frontrules'
	src url('../fonts/frontrules.eot?ig7qjy')
	src url('../fonts/frontrules.eot?ig7qjy#iefix') format('embedded-opentype'),
			url('../fonts/frontrules.ttf?ig7qjy') format('truetype'),
			url('../fonts/frontrules.woff?ig7qjy') format('woff'),
			url('../fonts/frontrules.svg?ig7qjy#frontrules') format('svg')
	font-weight normal
	font-style normal

[class^="ico-"],
[class*=" ico-"]
	font-family 'frontrules' !important
	speak none;
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.ico
	&-facebook:before
		content "\e900"
	&-instagram:before
		content "\e901"
	&-mail:before
		content "\e902"
	&-market:before
		content "\e903"
	&-phone:before
		content "\e904"
	&-skype:before
		content "\e905"
	&-tripadvisor:before
		content "\e906"
	&-twitter:before
		content "\e90e"
	&-WhatsApp:before
		content "\e90f"
	&-youtube:before
		content "\e910"
	&-isotipo:before
		content "\e907"