include base/head
body
	include modules/headerin
	section.section-row#destinyin
		include modules/toursin
	section.section-row#destinyall
		include modules/toursinofert

	footer.footer
		include base/footer