include base/head
body
	include modules/header
	section.section-row#peruvian
		include modules/peru
	section.section-row#destinyall
		include modules/hometours
	section.section-row
		include modules/homenews
	
	//span(class="ico-isotipo")
		span(class="ico-facebook")
		span(class="ico-twitter")
		span(class="ico-whatsapp")
		span(class="ico-youtube")
		span(class="ico-instagram")
		span(class="ico-tripadvisor")
	footer.footer
		include base/footer