@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,300|Roboto+Condensed:400,700,300')
Roboto = 'Roboto', sans-serif
RobotoC = 'Roboto Condensed', sans-serif


@font-face
	font-family 'Bebas'
	src url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'),
			url('../fonts/BebasNeueRegular.otf')  format('opentype'),
			url('../fonts/BebasNeueRegular.ttf')  format('truetype'),
			url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg')
	font-weight normal
	font-style normal
@font-face
	font-family 'BebasB'
	src url('../fonts/BebasNeueBold.eot') format('embedded-opentype'),
			url('../fonts/BebasNeueBold.otf')  format('opentype'),
			url('../fonts/BebasNeueBold.ttf')  format('truetype'),
			url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg')
	font-weight normal
	font-style normal
@font-face
	font-family 'BebasM'
	src url('../fonts/BebasNeueBook.eot') format('embedded-opentype'),
			url('../fonts/BebasNeueBook.otf')  format('opentype'),
			url('../fonts/BebasNeueBook.ttf')  format('truetype'),
			url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg')
	font-weight normal
	font-style normal
@font-face
	font-family 'BebasL'
	src url('../fonts/BebasNeueLight.eot') format('embedded-opentype'),
			url('../fonts/BebasNeueLight.otf')  format('opentype'),
			url('../fonts/BebasNeueLight.ttf')  format('truetype'),
			url('../fonts/BebasNeueLight.svg#BebasNeueLight') format('svg')
	font-weight normal
	font-style normal